RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}/journal/dist/$1 -f
RewriteRule ^(.*)$ dist/$1 [L]

RewriteCond %{THE_REQUEST} \s/journal/dist/ [NC,OR]
RewriteCond $1 !^dist/
RewriteRule ^(.*)$ dist/index.php [L]