RewriteEngine On

RewriteCond %{DOCUMENT_ROOT}/journal/public/$1 -f
RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{THE_REQUEST} \s/journal/public/ [NC,OR]
RewriteCond $1 !^public/
RewriteRule ^(.*)$ public/index.php [L]